/*stylesheet*/
.container{
	width: 990px;
	width: 80%;
	background-color: #000;
}
header{
padding: 20px;
background-color: #eee;
}
.column{
	min-height: 300px;
	background-color: #fff;
	width:700px;
    float: left;
}
.navbar{
    min-height: 300px;
	background-color: #009;
}
footer{
	padding:7px;
	background-color: #090; 
}